*{
  margin: 0;
  padding: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img{vertical-align: top;}

li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  background: #F4F5F7;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header__content{
  max-width: 410px;
  margin-right: 10px;
}

.header__images{
  margin-bottom: 32px;
}

.header__name{
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 32px;
}

.formBT{
  width: 260px;
  background: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0057FF;
  border: 1px solid #0057FF;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
}

.header__form-autoriz {
  background: #0057FF;
  color: white;
  margin-bottom: 17px;
}

.main-state__bg{
  max-width: 970px;
  margin: 0 auto;
  background: #0057FF;
  display: flex;
  color: white;
  justify-content: center;
  padding: 32px 5px;
  text-align: center;
  margin-bottom: 64px;
}

.main-state__registered-num{
  margin-right: 100px;
}

.main-state__registered-num:last-child{
  margin-right: 0px;
}

.main-state__num{
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 30px;
}

.main-state__name{
  font-size: 18px;
  line-height: 22px;
  max-width: 200px;
}

.comments__innet {
  max-width: 960px;
  margin: 0 auto;
}

.comments__name{
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 24px;
}

.innet-block{
  display: flex;
  justify-content: space-between;
}

.commets__persone{
  background: white;
  border-radius: 10px;
  padding: 16px;
  flex-basis: 632px;
}

.comments__account{
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.account-page{
  border-radius: 50%;
  margin-right: 16px;
}

.comments__info-account{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments__account-name{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comments__account-name p{
  margin-right: 16px;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}

.comments__account-name p:last-child{
  margin-right: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ABACB1;
}

.comments__page{
  flex-basis: 100%;
}

.comments__time-back{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ABACB1;
}

.comments__text p{
  font-size: 16px;
  line-height: 19px;
  color: #1D1E22;
  margin-bottom: 8px;
}

.comments__state{
  display: flex;
  align-items: center;
}

.comments__state img{
  margin-right: 13px;
}

.comments__state span{
  margin-right: 65px;
  font-size: 14px;
  line-height: 24px;
  color: #B1B1B1;
}

.comments__state:last-child{
  margin-right: 0;
}

.tenis{
  margin-bottom: 20px;
}

.comments__actual{
  flex-basis: 312px;
  margin-left: 5px;
}

.actual-themes{
  background: white;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
}

.actual-themes__name{
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 13px;
}

.menu-themes__list-name{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 3px;
}

.menu-themes__list-message {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: #ABACB1;
}

.blogers{
  background: white;
  border-radius: 10px;
  padding: 16px;
}

.blogers__name{
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 13px;
}

.menu-bloger__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.menu-bloger__list img {
  margin-right: 16px;
}

.blogers__info{
  display: flex;
  align-items: center;
}

.bloger__name{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.bloger__hach{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ABACB1;
}

.blogers__read button{
  background: none;
  border: 1px solid blue;
  padding: 6px 12px;
  border-radius: 10px;
  color: blue;
  cursor: pointer;
}

footer{
  text-align: center;
}

.footer__name{
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
  text-align: center;
}

.footer__form-autoriz {
  padding: 15px 75px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background: blue;
  margin-bottom: 16px;
  border: 1px solid blue;
  border-radius: 10px;
  cursor: pointer;
}

.footer__form-open {
  padding: 15px 137px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  background: white;
  border: 1px solid blue;
  border-radius: 10px;
  cursor: pointer;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup__inner{
  max-width: 362px;
  background: white;
  padding: 16px 17px;
}

.nameReg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.popup__name{
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.fr{
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  padding: 15px 16px;
  font-size: 18px;
  line-height: 22px;
  color: black;
  margin-bottom: 24px;
  min-width: 100%;
}

.registr{
  min-width: 100%;
}

.inp{
  position: relative;
}

.inp p {
  position: absolute;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #B1B1B1;
  top: -13px;
  left: 15px;
  opacity: 1;
}

@media (max-width: 1000px) {
  .header__images {
    margin-bottom: 20px;
  }
  .header__page {
    max-width: 50%;
  }
  .header__name {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 905px) {
  .comments__actual {
    display: none;
  }
  .innet-block {
    justify-content: center;
  }
}
@media (max-width: 725px) {
  .header{
    padding-top: 24px;
  }
  .container {
    padding: 0;
  }
  .header__page {
    width: 100%;
  }
  .header__content {
    max-width: none;
    text-align: center;
    margin-right: none;
  }
  .header__inner {
    display: block;
  }
  .header__inner {
    flex-direction: column;
  }
  .main-state__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-state__registered-num {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .main-state__num {
    margin-bottom: 5px;
  }
  .header__page {
    max-width: none;
  }
  .main-state__name {
    max-width: none;
  }
}

@media (max-width: 655px) {
  .tenis {
    width: 80%;
  }
}

@media (max-width: 555px) {
  .header__form{
    margin-bottom: 24px;
  }
  .comments__account-name {
    display: block;
  }
  .comments__info-account{
    align-items: flex-start;
  }
  .comments__state span {
    margin-right: 33px;
  }
  .footer__name {
    font-size: 25px;
    line-height: 26px;
  }
  .footer__form-autoriz {
    padding: 15px 40px;
  }
  .footer__form-open {
    padding: 15px 103px;
  }
  .commets__persone {
    padding: 10px;
  }
  .comments{
    background: white;
    padding-top: 20px;
  }
  .main-state__bg {
    margin-bottom: 0;
  }
  footer{
    padding-bottom: 36px;
  }
}