*{
  margin: 0;
  padding: 0;
}

img{vertical-align: top;}

li {
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
}
 
.header {
 text-align: center;
 min-width: 360px;
}

.header__images {
 margin-top: 24px;
 margin-bottom: 22px;
}

.header__name {
 font-weight: 900;
 font-size: 32px;
 line-height: 38px;
 margin-bottom: 24px;
}

.header__form{
 margin-bottom: 24px;
}

.header__form-autoriz {
 padding: 15px 75px;
 font-family: inherit;
 font-weight: 700;
 font-size: 18px;
 line-height: 22px;
 color: white;
 background: blue;
 margin-bottom: 16px;
 border: 1px solid blue;
 border-radius: 10px;
 cursor: pointer;
}

.header__form-open {
 padding: 15px 137px;
 font-family: inherit;
 font-weight: 700;
 font-size: 18px;
 line-height: 22px;
 color: blue;
 background: white;
 border: 1px solid blue;
 border-radius: 10px;
 cursor: pointer;
}

.header > img{
  width: 100%;
}

.commentaries{
  display: flex;
  justify-content: space-between;
}

.comments__innet{
  background: white;
  margin-right: 16px;
}

.comments__innet2{
  width: 312px;
}

.actual{
  background: white;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.name {
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;  
}

.name-theme{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}

.info__theme{
  display: flex;
  margin-bottom: 5px;
}

.country, 
.message{
  margin-left: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.message {
  color: #ABACB1;
}

.bloger{
  background: white;
  padding: 8px 16px;
}

.bloger__inner{
  display: flex;
  justify-content: end;
  align-items: center;
}

.icon__theme02,
.name__bloger{
  margin-right: 8px;
}

.country{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.countrys{
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.read{
  background: none;
  padding: 6px 15px;
  border: 1px solid blue;
  color: blue;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 700;
}

.countryHach{
  font-size: 12px;
  line-height: 16px;
  color: #ABACB1;
}

.main-state{
  margin-bottom: 42px;
}

.main-state__bg {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0057FF;
  color: white;
}

.main-state__registered-num{
  padding-top: 32px;
  max-width: 150px;
}

.main-state__registered-num:last-child {
  margin-bottom: 32px;
}

.main-state__num{
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}

.main-state__name{
  font-size: 18px;
  line-height: 22px;
}

.comments{
  padding: 0 16px;
  border-bottom: 1px solid #E9E9E9;
}

.comments:last-child{
  border-bottom: none;
}

.comments__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.inet{
  padding-top: 24px;
}

.account__innet{
  display: flex;
}

.comments__account{
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.account__images-inet{
  margin-right: 16px;
}

.account__images{
  border-radius: 30px;
  overflow: hidden;
}

.account-name{
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
}

.account-login{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ABACB1;
  margin-bottom: 5px;
}

.account-message{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D1E22;
  max-width: 160px;
  margin-bottom: 12px;
}

.comments__time-innet{
  max-width: 67px;
}

.comments__account-up{
  margin-left: 70px;
}

.comments__time{
  font-size: 10px;
  line-height: 12px;
  color: #ABACB1;
  text-align: end;
}

.fl{
  display: flex;
}

.rg{
  margin-right: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #B1B1B1;
}

.account__do{
  display: flex;
}

footer{
  text-align: center;
}

.footer__name{
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 24px;
  text-align: center;
}

.footer__form-autoriz {
  padding: 15px 75px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background: blue;
  margin-bottom: 16px;
  border: 1px solid blue;
  border-radius: 10px;
  cursor: pointer;
 }

 .footer__form-open {
  padding: 15px 137px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: blue;
  background: white;
  border: 1px solid blue;
  border-radius: 10px;
  cursor: pointer;
 }

 @media (min-width: 420px) {
  .account__innet {
    justify-content: center;
    justify-content: flex-start;
  }
  .account-message {
    max-width: none;
  }
 }

 @media(min-width: 0px) {
  .comments__innet2{
    display: none;
  }
 }
 @media (min-width: 640px) {
  .comments__innet2{
    display: block;
  }
  body {
    font-family: "Lato", sans-serif;
    background: #00000005;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    background: white;
  }
  .header__images {
    text-align: left;
    margin-left: 30px;
  }
  .header > img {
    width: 50%;
    margin-left: 5px;
  }
  .header__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .header__form-autoriz {
    padding: 10px 40px;
    font-size: 16px;
    line-height: 20px;
  }
  .header__form-open {
    padding: 10px 98px;
    font-size: 16px;
    line-height: 20px;
  }
  .conteiner {
    margin: 0 auto;
  }
  .main-state {
    position: relative;
    width: 640px;
    margin: 0 auto;
  }
  .main-state__bg {
    flex-direction: row;
    align-items: baseline;
    padding: 51px 41px;
    max-width: 459px;
    position: absolute;
    top: -25px;
    left: 58px;
  }
  .main-state__registered-num:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
  .main-state__registered-num {
    padding-top: 0;
    margin-right: 150px;
  }
  .main-state__num {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
  .main-state__name {
    font-size: 16px;
    line-height: 25px;
  }
  .main-state {
    margin-bottom: 200px;
  }
  .commentaries {
    max-width: 935px;
    margin: 0 auto;
  }
  .comments__account-up {
    margin-left: 74px;
  }
 }
 @media (min-width: 1200px) {
  .header{
    height: 640px;
  }
  .header > img {
    max-width: 631px;
  }
  .header__images{
    margin-left: 0;
  }
  .header__content{
    margin-right: 10px;
  }
  .header__name {
    max-width: 410px;
    text-align: left;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 32px;
  }
  .header__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__form-autoriz {
    padding: 13px 40px;
  }
  .header__form-open{
    padding: 13px 98px;
  }
  .main-state {
    margin-bottom: 280px;
    width: 775px;
    margin-right: 37%;
  }
  .main-state__bg {
    width: 100%;
    padding: 64px 80px;
    justify-content: center;
    max-width: none;
  }
  .main-state__num{ 
    font-weight: 300;
    font-size: 72px;
    line-height: 86px;
  }
  .main-state__registered-num {
    font-size: 18px;
    max-width: 160px;
  }
  .main-state__num{
    margin-bottom: 16px;
  }
 }